/* define font family variables */
:root {
    --font-family-base: var(--preferred-base-font),'Roboto', system-ui, -apple-system, 'Segoe UI', sans-serif;
    --font-family-mono: 'JetBrains Mono Variable', 'Consolas', monospace;
}

/* global font */
html {
    font-family: var(--font-family-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-family-base);
}

/* mono font */
code, kbd, samp, pre {
    font-family: var(--font-family-mono);
}

/* overwrite tailwind config */
.font-sans {
    font-family: var(--font-family-base) !important;
}