---

import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const openSourceLicenses = await getEntry("spec", "open-source-licenses");

if (!openSourceLicenses) {
	throw new Error("Open Source Licenses page content not found");
}

const { Content } = await render(openSourceLicenses);
---
<MainGridLayout title={i18n(I18nKey.openSourceLicenses)} description={i18n(I18nKey.openSourceLicenses)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <h1>{i18n(I18nKey.openSourceLicenses)}</h1>
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>